@page "/"

<section class="row">
    <div class="col-12 col-lg-9 d-flex">
        <div class="alert alert-info col-6 mx-1">
            <h4 class="alert-heading">Info</h4>
            <p>We'll be here soon!</p>
        </div>
    </div>
</section>