@inherits LayoutComponentBase
@using BlazzingExam.WebApps.Client.Shared.AdminSidebar

<div id="sidebar" class="@(_isActive ? ActiveClass : string.Empty)">
    <AdminWrapper HideMenu="ToggleNavbar" />
</div>

<div id="main">
    <header class="mb-3">
        <a @onclick="ToggleNavbar" class="burger-btn @(_isActive ? "d-none" : "d-block")">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-content">
        @Body
    </div>
</div>

@code
{
    private const string ActiveClass = "active";

    private bool _isActive = true;

    private void ToggleNavbar()
    {
        _isActive = !_isActive;
    }
}
