@page "/Register"

<section class="row">
    <div class="col-md-10 m-auto col-sm-12">
        <div class="card">
            <div class="card-content">
                <img class="card-img-top img-fluid" src="Images/Vectors/Register.svg" alt="Card image cap" style="height: 20rem">
                <div class="card-body">
                    <h4 class="card-title text-center">عضویت</h4>
                    <div class="card-content">
                        <RegisterForm />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> Auth { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await Auth).User;
        if (user.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("/");
    }
}
