@inject IRegisterViewModel RegisterModel

<EditForm Model="RegisterModel" OnValidSubmit="RegisterUser">
    <div class="text-center">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <TimedMessage @ref="EmailMessage">
            <p class="text-danger">ایمیل وارد شده از قبل موجود است.</p>
        </TimedMessage>
        <TimedMessage @ref="UsernameMessage">
            <p class="text-danger">ایمیل وارد شده از قبل موجود است.</p>
        </TimedMessage>
        <TimedMessage @ref="SuccessMessage" OnTimerDone="RedirectToLoginPage">
            <div class="alert alert-success">
                <p>ثبت نام شما با موفقیت انجام شد. تا چند لحظه دیگر به <a class="alert-link" href="login">صفحه ورود</a> هدایت میشوید</p>
            </div>
        </TimedMessage>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Username">نام کاربری</label>
                <InputText id="Username" class="form-control" @bind-Value="RegisterModel.UserName" Placeholder="Username"></InputText>
            </div>
            <div class="form-group">
                <label for="FirstName">نام</label>
                <InputText id="FirstName" class="form-control" @bind-Value="RegisterModel.FirstName" Placeholder="علی"></InputText>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">شماره تلفن</label>
                <InputText id="PhoneNumber" class="form-control" @bind-Value="RegisterModel.PhoneNumber" Placeholder="09130000000"></InputText>
            </div>
            <div class="form-group">
                <label for="Password">رمز عبور</label>
                <InputText type="password" id="Password" class="form-control" @bind-Value="RegisterModel.Password" Placeholder="********"></InputText>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">ایمیل</label>
                <InputText id="Email" class="form-control" @bind-Value="RegisterModel.Email" Placeholder="Email@Gmail.com"></InputText>
            </div>
            <div class="form-group">
                <label for="LastName">نام خانوادگی</label>
                <InputText id="LastName" class="form-control" @bind-Value="RegisterModel.LastName" Placeholder="ابوترابی"></InputText>
            </div>
            <br />
            <br />
            <br />
            <div class="form-group mt-1">
                <label for="RepeatPassword">تکرار رمز عبور</label>
                <TimedMessage @ref="PasswordsMessage">
                    <small class="text-danger">پسورد ها مطابقت ندارند</small>
                </TimedMessage>
                <InputText type="password" id="RepeatPassword" class="form-control" @bind-Value="RegisterModel.RepeatPassword" Placeholder="********"></InputText>
            </div>
        </div>
    </div>

    <hr />

    <button type="submit" class="ms-3 me-4 btn btn-primary">عضویت</button>
    <p class="d-inline mt-1">و یا <a href="login">وارد شوید</a></p>
</EditForm>

@code {
    private TimedMessage EmailMessage;
    private TimedMessage UsernameMessage;
    private TimedMessage SuccessMessage;
    private TimedMessage PasswordsMessage;

    private async Task RegisterUser()
    {
        if(RegisterModel.Password != RegisterModel.RepeatPassword)
        {
            PasswordsMessage.Show();
            return;
        }

        var canContinue = true;
        if (await RegisterModel.IsEmailExists())
        {
            EmailMessage.Show();
            canContinue = false;
        }
        if (await RegisterModel.IsUsernameExist())
        {
            UsernameMessage.Show();
            canContinue = false;
        }

        if (canContinue)
        {
            var result = await RegisterModel.Register();
            if(result)
                SuccessMessage.Show();
        }
    }

    private void RedirectToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}
