@page "/Admin"
@layout AdminLayout


<PermAuth PermissionId="1" RedirectUrl="/">
    <Authorized>
        <p>
            Hello! welcome to Here!
        </p>
    </Authorized>
</PermAuth>

@code {

}
