@inject IJSRuntime Js

<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">منوی ادمین</li>
        <LiNavLink class="sidebar-item" Link="/Admin">
            <a href="/Admin" class="sidebar-link">
                <i class="bi bi-kanban-fill"></i>
                <span>داشبورد ادمین</span>
            </a>
        </LiNavLink>
        <LiNavLink class="sidebar-item" Link="" Match="NavLinkMatch.All">
            <a href="" class="sidebar-link">
                <i class="bi bi-grid-fill"></i>
                <span>صفحه اصلی</span>
            </a>
        </LiNavLink>
    </ul>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeAsync<IJSObjectReference>(
                "import", "/assets/js/main.js");
        }
    }
}