
<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a class="sidebar-hide d-xl-none d-block" @onclick="HideMenu"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>

    <AdminNavMenu />
</div>

@code
{
    [Parameter]
    public Action HideMenu { get; set; }
}
